--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
torchaudio==2.5.1+cu124
fastapi
uvicorn
python-multipart
pydub
srt
webvtt-py
transformers
safetensors
phonemizer
soundfile
audio_utils
librosa
numpy
scipy
psutil
git+https://github.com/vibevoice-community/VibeVoice.git

